@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'lib/reset';
@import 'lib/bootstrap-grid';
@import 'lib/owl-carousel';
@import 'vars';
@import 'mixins';

::selection {
	background: $blue;
	color: #FFF;
}

body {
	h1 {
		color: red;
		font: $h1;
	}
}

a {
	text-decoration: none !important;
}
