@import url('https://fonts.googleapis.com/css?family=Poppins:200, 400,700');

@import 'lib/reset';
@import 'lib/bootstrap-grid';
@import 'vars';
@import 'mixins';

::selection {
	background: $blue;
	color: #FFF;
}

body {
	font-family: 'Poppins', sans-serif;
	background: $bg-grey;
}

a {
	text-decoration: none !important;
}
